<div class = "body">
    <header>
      <div class="logo">Task Manager</div>
      <div class="buttons">
        <button (click)="onLogin()" class="login">Login</button>
        <button (click)="onSignup()" class="signup">Sign Up</button>
      </div>
    </header>
    <div class="hero">
      <h1>Welcome to Task Manager</h1>
      <p>Organize your life and boost your productivity with our simple and efficient task management solution.</p>
      <button (click)="onLogin()" class="cta">Get Started</button>
    </div>
    <footer>
      &copy; 2024 Task Manager. All Rights Reserved. 
      <br>
      Developed by <a href="https://www.linkedin.com/in/sanket-sawant-02b80a252/" target="_blank">Sanket Sawant</a>.
      <!-- https://www.linkedin.com/in/sanket-sawant-02b80a252/ -->
  </footer>
  
</div>